.header-section {
    position: sticky;
    top: 65px;
}
.results-section {
    height: calc(100vh - 257px);
    overflow: auto;
}
.main-row {
    margin: 10px;
}
.create-content {
    display: flex;
    align-items: baseline;
}
input[type="checkbox"].create-another {
    height: auto !important;
    width: 13px !important;
    position: relative !important;
    left: 0 !important;
    cursor: pointer;
    display: block;
}
p {
    margin: 0;
}
.create-text {
    margin: 0 0 0 8px;
}
label {
    font-size: 12px;
    color: #bfc1c2;
    font-weight: 400;
    margin: 0;
    padding: 0;
    outline: none;
}
.product-boxx {
    padding: 10px;
    box-shadow: 3px 3px 8px rgb(128 128 128 / 20%);
    border-radius: 10px;
    margin: 0 0 20px 0;
    border: 0.5px solid #ccc;
}
.no-data {
    padding: 30px 0 !important;
}
.page-item.active .page-link {
    background-color: var(--ap-primary) !important;
    border-color: var(--ap-primary) !important;
}
.page-link {
    color: var(--ap-primary);
    box-shadow: none;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
input.form-control {
    height: 32px;
    background-color: #fff;
    border-radius: 4px;
}
.has-search .form-control-feedback1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--ap-primary);
    border-radius: 0 7px 7px 0;
    padding: 0 22px;
    z-index: 2;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
    color: #fff;
    margin: 0;
}
.add-btn {
    background-color: transparent;
    border: 1px solid var(--ap-primary) !important;
    color: var(--ap-primary);
    border-radius: 7px;
}
button.sm.main-color {
    border: 1px solid var(--ap-primary);
}
.user-panel .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}
i.fas.fa-dot-circle {
    color: var(--ap-primary);
    font-size: 12px;
}
i.fas.fa-dot-circle.gray {
    color: #9a9a9a;
}
/* UP DOWN ARROW */
.arrows {
    padding: 0 0 0 5px;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2.5px;
}
.asc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 -6px 5px 0;
    cursor: pointer;
}
.desc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}
.active {
    color: var(--ap-primary);
    border-width: 0 2px 2px 0;
}
/* CARD TABLE */
.card {
    background-color: transparent !important;
}
.table.table-striped {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px !important;
}

h6.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}
select.sort-select {
    color: #484848;
}

.innerBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-box {
    width: 49%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.product-upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-upper-content .product-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}
.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.p-name {
    flex-grow: 0.5;
}
.product-upper-content .product-info p {
    margin: 0;
    outline: none;
}
.product-name label {
    font-weight: 600;
    color: var(--ap-primary);
}
.product-name p {
    color: var(--ap-info);
    cursor: pointer;
    font-weight: 500;
}
.table {
    margin: 0 !important;
}
.table thead th {
    border-bottom: 2px solid #dee2e6;
    color: var(--ap-secondary);
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0.75rem 0;
}
.table tbody td {
    font-size: 14px;
}
.bottom-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
.bottom-btn button {
    margin: 0 5px;
}
button.main-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
p.next-btn {
    margin: 0;
    padding: 8px 20px 8px 15px;
}
p.po-request-btn {
    width: 80px;
}
p.variants-btn {
    width: 100px;
}
.back-arrow-icon {
    padding: 0px 0px 0px 15px;
}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper img {
    width: 90px;
}
.color-block {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.product-variants {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
.product-variants.active {
    max-height: 250px;
    overflow: auto;
}

.variant-quantity {
    text-align: center;
}
.product-base-price p {
    max-width: 80px;
}
.variant-quantity div,
.product-base-price p {
    background: var(--ap-primary);
    text-align: center;
    padding: 1px 0;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
}
.info-wrapper img {
    width: 18px;
    margin: -5px 0 0 0;
}
th.price {
    width: 120px;
}
/* ADD VARIENT */
.cancel-btn {
    cursor: pointer;
    font-size: 15px;
    color: #484848;
}
.add-variant-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #484848;
}
.add-variant-head p {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}
.form-control {
    height: 48px !important;
}
div#picker {
    display: flex;
    justify-content: center;
}
p.product-variant-sku {
    margin: 0;
    width: max-content;
}

.font-head {
    display: flex;
    justify-content: space-between;
}
.font-head p {
    margin: 0;
    color: #484848;
    font-weight: 700;
    font-size: 15px;
}
.font-desc p {
    margin: 8px 0 0 0;
    text-transform: uppercase;
}
.bottom-btn {
    border-top: 1.5px solid #d7d7d7 !important;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 20px 0;
    /* margin: 30px 0 0 0; */
}
.font-content-item {
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    padding: 15px 20px 20px 25px;
    margin: 0 0 15px 0;
    cursor: pointer;
}
.box-width {
    width: 100%;
}
.product-info .items p {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #484848;
}
button.close {
    padding: 5px 5px 0px 0px;
    margin: 0;
    color: #484848;
}

/* product modul */
.modal-body {
    padding-top: 0;
}

.results-section {
    height: calc(100vh - 257px);
    overflow: auto;
}
.product-boxx {
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
.product-upper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-upper-content .product-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}
.action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.product-upper-content .product-info .item {
    width: 35%;
}
.product-upper-content .product-info p {
    margin: 0;
    outline: none;
}
.product-name label {
    font-weight: 600;
    color: var(--ap-primary);
}
.product-name p {
    color: var(--ap-info);
    cursor: pointer;
    font-weight: 500;
}
.width-class {
    width: 100%;
}
.modal-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
