.register_holder {
    padding: 50px 0;
}
.register_form {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.login_form {
    max-width: 650px;
    margin: 0 auto;
}
.register_form input[type="text"],
.register_form input[type="password"] {
    width: 100%;
    border: 1px solid #e0e0db;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}
.register_form input[type="submit"] {
    background: var(--logo-red-color);
    border: 1px solid var(--logo-red-color);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 30px;
    border-radius: 25px;
}
