.buttons-container {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.buttons-container button, .buttons-container .button-group {
    margin: 0 5px;
}

.buttons-container button:first-child, .buttons-container .button-group:first-child {
    margin-left: 0px;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
}

.input-group {
    width: 24%;
}

.inputs-container .input-group {
    margin-left: 5px;
}

.inputs-container .input-group:first-child {
    margin-left: 0;
}

hr{
    margin: 10px 0 !important;
}
