.admin-panel {
    /* Customize the label (the container) */
    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 0;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    /* On mouse-over, add a grey background color */
    .checkbox:hover input ~ .checkmark {
        background-color: #eaeaea;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
        // background-color: #2196f3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox .checkmark:after {
        left: 8px;
        top: 2px;
        width: 7px;
        height: 15px;
        border: solid #555;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .checkbox-container {
        display: flex;
    }
    .checkbox-container.text-bottom, .checkbox-container.text-top {
        flex-direction: column;
        align-items: center;
    }
    .checkbox-container span.text {
        font-size: 16px;
    }

    .checkbox.primary .checkmark:after {
        border-color: var(--ap-primary);
    }
    .checkbox.secondary .checkmark:after {
        border-color: var(--ap-secondary);
    }
    .checkbox.success .checkmark:after {
        border-color: var(--ap-success);
    }
    .checkbox.secondary .checkmark:after {
        border-color: var(--ap-info);
    }
    .checkbox.warning .checkmark:after {
        border-color: var(--ap-warning);
    }
    .checkbox.danger .checkmark:after {
        border-color: var(--ap-danger);
    }
}
