.admin-panel {
    --ap-primary: #f3585f;
    --ap-secondary: #04a28c;
    --ap-success: #009234;
    --ap-danger: #d51c28;
    --ap-warning: #e6a000;
    --ap-info: #0485a2;
    --ap-light: #fbbcbf;
    --ap-dark: #000000;
    --ap-global-header: #e5e5e5;
}

.website {
    --ap-primary: #f3585f;
    --ap-secondary: #04a28c;
    --ap-success: #009234;
    --ap-danger: #d51c28;
    --ap-warning: #e6a000;
    --ap-info: #0485a2;
    --ap-light: #fbbcbf;
    --ap-dark: #000000;
}
