<div class="row no-gutters main-row">
    <div class="col-md-12 mb-1 header-section">
        <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div class="col-md-auto">
                <h2 class="primary">Transactions</h2>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-between">
                        <h6 class="col-md-4 pt-0 m-0 sort">Sort</h6>
                        <select class="col-md-8 m-0 pl-2 sort-select" (change)="doSort($event, 'asc')">
                            <option value="">Select Sort</option>
                            <option value="amount">Transaction Amount</option>
                            <option value="trans_date">Trans Date</option>
                            <option value="description">Description</option>
                        </select>
                    </div>
                    <div class="col-md-6 d-flex">
                        <select [(ngModel)]="filters.perPage" (change)="selectPerPage($event)" class="m-0 mb-2">
                            <option value="" [disabled]="true">Select per page</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15" [selected]="true">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <app-breadcrums [data]="breadCrum"></app-breadcrums>
        <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div class="search m-0 mb-2 col-md-3">
                <div class="input-group">
                    <div class="group">
                        <div class="pre">
                            <button class="primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="search" placeholder="Select Date Here" bsDaterangepicker [(ngModel)]="bsRangeValue" (ngModelChange)="rangeDate()" [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }">
                    </div>
                </div>
            </div>
            <select (change)="accountChange($event)" class="m-0 mb-2 col-md-3">
                <option value=-1>Select Account</option>
                <option *ngFor="let account of accountList" value="{{account.id}}">{{account.account_title}}</option>
            </select>
            <select *ngIf="showTransferType" (change)="transFiler($event)" class="m-0 mb-2 col-md-3">
                <option value=null>Select Transaction Type</option>
                <option value="to_account_id">Transaction To</option>
                <option value="from_account_id">Transaction From</option>
            </select>
            <button type="button" class="m-0 mb-2 primary" *ngIf="api.checkPermission('account-transfer-amount')" (click)="openModal(addForm, -1)">Add New Transaction</button>
        </div>
    </div>
    <div class="col-md-12 mb-1 mt-1 results-section">
        <div class="table-responsive product-box">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sr. # </th>
                        <th>From Account </th>
                        <th>To Account </th>
                        <th>Transaction Date </th>
                        <th>Description </th>
                        <th>Transaction Amount </th>
                        <!-- <th style="width: 100px;" class="text-center">Dr </th>
                        <th style="width: 100px;" class="text-center">Cr </th> -->
                    </tr>
                </thead>

                <ng-container *ngIf="dataList.length> 0">
                    <tbody>
                        <tr *ngFor="let d of dataList | filter:searchKeyword; let i= index">
                            <td>{{ getSerialNumber(i) }} </td>
                            <!-- <td>{{ d.id }} </td> -->
                            <td>{{ d.from_account.account_title }}</td>
                            <td>{{ d.to_account.account_title }}</td>
                            <td>{{ d.trans_date }}</td>
                            <td>{{ d.description }}</td>
                            <td>{{ d.amount }}</td>
                            <!-- <td class="text-right">
                                <ng-container *ngIf="d.amount < 0">{{convertValue(d.amount)}}</ng-container>
                            </td>
                            <td class="text-right">
                                <ng-container *ngIf="d.amount > 0">{{convertValue(d.amount)}}</ng-container>
                            </td> -->
                        </tr>
                    </tbody>
                </ng-container>

                <ng-container *ngIf="dataStatus == 'fetching'">
                    <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                </ng-container>

                <tbody *ngIf="dataList.length == 0 && dataStatus == 'done'">
                    <tr>
                        <td colspan="6">
                            <app-no-data-found></app-no-data-found>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 footer-section">
        <nav class="paginationCover" aria-label="Page navigation example" *ngIf="dataStatus == 'done'">
            <ul class="pagination justify-content-left m-0">
                <li class="page-item">
                    <small *ngIf="page<10">Current page: 0{{page}}</small>
                    <small *ngIf="page>=10">Current page: {{page}}</small>
                </li>
            </ul>
            <ul class="pagination justify-content-left m-0">
                <li class="page-item" *ngIf="pagination.prev_page_url != null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(page-1)">Previous</a>
                </li>
                <li class="page-item disabled" *ngIf="pagination.prev_page_url == null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1">Previous</a>
                </li>
                <ng-container *ngIf="pagination.last_page <= 6">
                    <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                        <li [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="pagination.last_page >= 7">
                    <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                        <li *ngIf="i<4" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                        <li *ngIf="(pagination.last_page-i) == 3" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link">...</a>
                        </li>
                        <li *ngIf="(pagination.last_page-i)==1 || (pagination.last_page-i)==2" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                    </ng-container>
                </ng-container>
                <li class="page-item" *ngIf="pagination.next_page_url != null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(+page+1)">Next</a>
                </li>
                <li class="page-item disabled" *ngIf="pagination.next_page_url == null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<ng-template #addForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataForm" (ngSubmit)="save(f)" #f="ngForm">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label class="mb-0 mt-0">From Account <span class="mendatory">*</span></label>
                    <select class="form-control mt-0" formControlName="from_account_id" [ngClass]="{'form-submitted': f.submitted}">
                        <option value=null>Select From Account</option>
                        <option *ngFor="let fromAcc of accountList" value="{{fromAcc.id}}">{{fromAcc.account_title}}</option>
                    </select>
                    <div *ngIf="ui.checkErrors(g.from_account_id, f)" class="errors">
                        <p *ngIf="g.from_account_id.errors.required">From Account is required</p>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label class="mb-0 mt-0">To Account <span class="mendatory">*</span></label>
                    <select class="form-control mt-0" formControlName="to_account_id" [ngClass]="{'form-submitted': f.submitted}">
                        <option value=null>Select To Account</option>
                        <option *ngFor="let fromAcc of accountList" value="{{fromAcc.id}}">{{fromAcc.account_title}}</option>
                    </select>
                    <div *ngIf="ui.checkErrors(g.to_account_id, f)" class="errors">
                        <p *ngIf="g.to_account_id.errors.required">To Account is required</p>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label class="mb-0 mt-0">Amount <span class="mendatory">*</span></label>
                    <input formControlName="amount" type="number" min="0" class="form-control mt-0" placeholder="Enter Amount" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.amount, f)" class="errors">
                        <p *ngIf="g.amount.errors.required">Amount is required</p>
                        <p *ngIf="g.amount.errors.min">Amount should be less than 5</p>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label class="mb-0 mt-0">Transaction Date <span class="mendatory">*</span></label>
                    <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" formControlName="trans_date" placeholder="Enter Transaction Date" [ngClass]="{'form-submitted': f.submitted}" />
                    <div *ngIf="ui.checkErrors(g.trans_date, f)" class="errors">
                        <p *ngIf="g.trans_date.errors.required">Transaction Date is required</p>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label class="mb-0 mt-0">Description </label>
                    <textarea formControlName="description" cols="20" rows="5" class="form-control mt-0" placeholder="Enter Description" [ngClass]="{'form-submitted': f.submitted}"></textarea>
                    <div *ngIf="ui.checkErrors(g.description, f)" class="errors">
                        <!-- <p *ngIf="g.description.errors.required">Description is required</p> -->
                        <p *ngIf="g.description.errors.maxlength">Description should not exceed {{ g.description.errors.maxlength.requiredLength }} characters</p>
                    </div>
                </div>
            </div>
            <button type="submit" class="primary" [ngClass]="loginLoading?'in-progress':''">
                <div class="loading-dots">Save
                    <span></span><span></span><span></span>
                </div>
            </button>
            <button type="button" class="dark ml-1" (click)="cancelButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>