<div class="row mt-5 no-gutters justify-content-center">
    <div class="col-md-10">
        <div class="artwork-container">
            <div class="artwork-heading-sec">
                <div class="artwork-heading">Artworks</div>
                <div class="artwork-btn">
                    <button type="button" class="main-color">
                        <p class="add-artwork-btn">Add Artwork</p>
                        <span class="plus-icon"><i class="fas fa-plus"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="artwork-content-sec">
            <div class="artwork-content-item">
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork1.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork2.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork3.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork4.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork5.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork6.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork7.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork8.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork9.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork10.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork1.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork2.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork3.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
                <div class="artwork-item">
                    <div class="artwork-main-img">
                        <img src="assets/img/artwork4.png" alt="">
                    </div>
                    <div class="artwork-cross-img">
                        <img src="assets/img/cross-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="font-container">
            <div class="font-heading-sec">
                <div class="font-heading">Fonts</div>
                <div class="font-btn">
                    <button type="button" class="main-color">
                        <p class="add-font-btn">Add Font</p>
                        <span class="plus-icon"><i class="fas fa-plus"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="font-content-sec row justify-content-center">
            <div class="col-md-6">
                <div class="font-content-item">
                    <div class="font-head">
                        <p>Panton</p>
                        <img src="assets/img/cross-icon-trans.png" alt="">
                    </div>
                    <div class="font-desc">
                        <p>This is sample of the said font</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="font-content-item">
                    <div class="font-head">
                        <p>Panton</p>
                        <img src="assets/img/cross-icon-trans.png" alt="">
                    </div>
                    <div class="font-desc">
                        <p>This is sample of the said font</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="font-content-item">
                    <div class="font-head">
                        <p>Panton</p>
                        <img src="assets/img/cross-icon-trans.png" alt="">
                    </div>
                    <div class="font-desc">
                        <p>This is sample of the said font</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="font-content-item">
                    <div class="font-head">
                        <p>Panton</p>
                        <img src="assets/img/cross-icon-trans.png" alt="">
                    </div>
                    <div class="font-desc">
                        <p>This is sample of the said font</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-btn">
            <button type="submit" class="main-color mt-2 mb-2" [disabled]="Loading" [ngClass]="Loading?'in-progress':''">
                <p class="next-btn">Next</p>
                <span></span><span></span><span></span>
                <span class="next-arrow-icon"><i class="fa fa-angle-right"></i></span>
            </button>
        </div>
    </div>
</div>
