<div class="dashboard-main-container">
    <section class="dashboard-heahing-section">
        <div class="dashboard-heahing">
            <h1>Welcome, {{ this.api.user.first_name | titlecase }} {{ this.api.user.last_name | titlecase}}</h1>
        </div>
    </section>
    <section class="dashboard-content-section">
        <div class="your-next-step-container">
            <div class="step-container-top">
                <h1 class="step-header">Your next steps</h1>
                <p class="step-description">Set your business, earn rewards, and start making money with Star Dropship!</p>
                <p class="steps">2 out of 7 steps completed</p>
                <div class="your-next-step-bars">
                    <div class="bar-color active"></div>
                    <div class="bar-color active"></div>
                    <div class="bar-color"></div>
                    <div class="bar-color"></div>
                    <div class="bar-color"></div>
                    <div class="bar-color"></div>
                    <div class="bar-color"></div>
                </div>
            </div>
            <div class="step-container-botttom">
                <div class="steps-content">
                    <div class="steps-items">
                        <div class="vertical-line active"></div>
                        <div class="fas fa-check-circle item-color active"></div>
                        <h1 class="active">Sign up for Star Dropship</h1>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line active"></div>
                        <div class="fas fa-check-circle item-color active"></div>
                        <h1 class="active">Confirm your email</h1>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line"></div>
                        <div class="fas fa-check-circle item-color"></div>
                        <h1 class="">Create your first product</h1>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line"></div>
                        <div class="fas fa-check-circle item-color"></div>
                        <h1 class="">Connect your store</h1>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line"></div>
                        <div class="fas fa-check-circle item-color"></div>
                        <h1 class="">Add products to your store</h1>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line"></div>
                        <div class="fa fa-check-circle  item-color"></div>
                        <div class="billing-box">
                            <h1>Take care of billing</h1>
                            <p class="box-para"><span class="box-color">Add a billing method</span> so we can fulfill your oders</p>
                        </div>
                    </div>
                    <div class="steps-items">
                        <div class="vertical-line"></div>
                        <div class="fa fa-check-circle  item-color"></div>
                        <div class="samples-box">
                            <h1>Order samples</h1>
                            <p class="box-para"><span class="box-color">Make an order</span> and see what your product looks like n real life</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tips-guides-container">
            <div class="tips-guides-container-top">
                <h1 class="tips-guides-header">Tips & guides</h1>
            </div>
            <div class="tips-guides-container-bottom">
                <div class="tips-guides-content">
                    <div class="tips-guides-items">
                        <p>32 Useful Market Research Tool for Startups and Established Busin...</p>
                        <div class="fa fa-angle-right"></div>
                    </div>
                    <div class="tips-guides-items">
                        <p>Your Holiday Shipping and Order Deadlines Guide 2021</p>
                        <div class="fa fa-angle-right"></div>
                    </div>
                    <div class="tips-guides-items">
                        <p>How to Start a Clothing Store -- 7 Essential Steps</p>
                        <div class="fa fa-angle-right"></div>
                    </div>
                    <div class="tips-guides-items">
                        <p>Everything You Need to Know to Prepare thr perfect Print File</p>
                        <div class="fa fa-angle-right"></div>
                    </div>
                    <div class="tips-guides-items">
                        <p>The Real Cost of Running a Print-on-Demand Business</p>
                        <div class="fa fa-angle-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="dashboard-content-section">
        <div class="dashboard-content-inner-left">
            <div class="statistics-container">
                <div class="statistics-container-top">
                    <h1 class="statistics-heading-left">All order statistics</h1>
                    <div class="statistics-heading-right">
                        <p>See detailed statistics</p>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="statistics-container-bottom">
                    <div class="dropdown">
                        <select>
                            <option value="">Last 28 days</option>
                        </select>
                    </div>
                    <div class="statistics-bottom-inner">
                        <div class="statistics-inner-left">
                            <p>Today - 0 orders</p>
                            <h1>&pound;0<sup>*</sup></h1>
                        </div>
                        <div class="statistics-inner-right">
                            <p>Last 28 days - 3 orders</p>
                            <div class="statistics-result">
                                <h1>&pound;78.98<sup>*</sup></h1>
                                <p class="statistics-loss"><img src="/assets/img/arrow-down-map-pointer-red.png" alt=""> -78.17%</p>
                            </div>
                        </div>
                        <div class="order-stats-img-wrapper"><img src="/assets/img/order-Stats.png" alt=""></div>
                        <p class="stat-note"><sup>*</sup>Stats for all orders are approximate and illustrative. Go to <span>Reports</span> for detailed info.</p>
                    </div>
                </div>
            </div>
            <div class="tips-guides-container">
                <div class="tips-guides-container-top">
                    <h1 class="tips-guides-header">Tips & guides</h1>
                </div>
                <div class="tips-guides-container-bottom">
                    <div class="tips-guides-content">
                        <div class="tips-guides-items">
                            <p>32 Useful Market Research Tool for Startups and Established Busin...</p>
                            <div class="fa fa-angle-right"></div>
                        </div>
                        <div class="tips-guides-items">
                            <p>Your Holiday Shipping and Order Deadlines Guide 2021</p>
                            <div class="fa fa-angle-right"></div>
                        </div>
                        <div class="tips-guides-items">
                            <p>How to Start a Clothing Store -- 7 Essential Steps</p>
                            <div class="fa fa-angle-right"></div>
                        </div>
                        <div class="tips-guides-items">
                            <p>Everything You Need to Know to Prepare thr perfect Print File</p>
                            <div class="fa fa-angle-right"></div>
                        </div>
                        <div class="tips-guides-items">
                            <p>The Real Cost of Running a Print-on-Demand Business</p>
                            <div class="fa fa-angle-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-content-inner-right">
            <div class="products-container">
                <div class="products-container-top">
                    <h1 class="products-heading-left">Trending products</h1>
                    <div class="products-heading-right">
                        <p>
                            <a [routerLink]="['/client/product/create-virtual-product']" [queryParams]="{id: -1}">See all products</a>
                        </p>
                    </div>
                </div>
                <div class="products-container-bottom">
                    <ng-container *ngIf="trendingProduct.length > 0 && dataStatus === 'done'">
                        <div class="product-card-content" *ngFor="let tp of trendingProduct">
                            <div class="card-img-wrapper" (click)="addProduct(tp)">
                                <img [defaultImage]="spinnerSVG" [lazyLoad]="api.elevationImg(tp.base_product_images[0]?.mockup_id, tp.base_product_images[0]?.elevation_id)">
                            </div>
                            <div class="heart-icon">
                                <i class="far fa-heart"></i>
                            </div>
                            <div class="card-content">
                                <div class="card-prod-heading">
                                    <p>{{tp.name}}</p>
                                </div>
                                <h1 class="card-prof-price">&pound;{{tp.variants[0]?.tp? tp.variants[0].tp: 0}}</h1>
                                <div class="card-prod-note">
                                    <div class="note-img-wrapper">
                                        <img src="/assets/images/uk.svg" alt="">
                                    </div>
                                    <span>Average delivery in 2-3 days</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="dataStatus == 'fetching'">
                        <div class="img-wrapper">
                            <img src="assets/images/rolling-main.svg" alt="">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="trendingProduct.length == 0 && dataStatus == 'done'">
                        <div class="no-data-found">
                            <app-no-data-found></app-no-data-found>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>