<!-- <div class="signin-container">
    <div class="box-container">
        <div class="left-box">
            <img src="assets/images/logos/star-edition-logo.svg">

        </div>
        <div class="right-box">
            <h1 class="title">Sign In</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" #f="ngForm">
                <div class="input-container">
                    <div class="email-wrapper">
                        <input type="text" formControlName="youremail" class="email" placeholder="Enter Email" [ngClass]="{'form-submitted': f.submitted}">
                    </div>
                    <div *ngIf="ui.checkErrors(g.youremail, f)" class="errors">
                        <p *ngIf="g.youremail.errors.required">Email is required</p>
                        <p *ngIf="g.youremail.errors.email">Please enter valid email</p>
                    </div>
                </div>

                <div class="input-container">
                    <input type="number" style="display: none;">
                    <div class="password-wrapper">
                        <input type="password" formControlName="yourpassword" class="password" placeholder="Enter Password" [ngClass]="{'form-submitted': f.submitted}" name="yourword">
                    </div>
                    <div *ngIf="ui.checkErrors(g.yourpassword, f)" class="errors">
                        <p *ngIf="g.yourpassword.errors.required">Password is required</p>
                    </div>
                </div>

                <div class="input-container">
                    <button [disabled]="loginLoading" class="login" [ngClass]="loginLoading?'in-progress':''">Login
                        <span></span><span></span><span></span>
                    </button>
                </div>
            </form>
            <div class="footer-container">
                <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" class="forgotten">Forgotten your password</a>
            </div>
        </div>
    </div>
</div> -->
<div class="signin-container">
    <div class="box-container">
        <div class="left-box">
            <div>
                <img src="assets/images/logo.jpg">
            </div>
            <div style="width: 100%; display: flex; justify-content: center;">
                <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm.form)" style="width: 57%;">
                    <div class="input-container">
                        <h4>Password reset</h4>
                        <p>Enter your email, and we'll send you a password reset link. This may take a few minutes!</p>
                    </div>
                    <div class="input-container">
                        <label>Email:</label>
                        <div class="email-wrapper">
                            <input type="email" class="fadeIn" ngModel name="email" required placeholder="Email">
                        </div>
                        <div *ngIf="forgotForm.touched && forgotForm.controls['email'].invalid" class="errors">
                            <p>E-mail is invalid</p>
                        </div>
                    </div>
                    <div class="input-container">
                        <button [disabled]="loginLoading" class="login" [ngClass]="loginLoading?'in-progress':''">Send reset email
                            <span></span><span></span><span></span>
                        </button>
                    </div>
                    <div class="input-container" style="border-bottom: solid 1px #ccc;"></div>
                    <div class="input-container">
                        <span><a [routerLink]="['/login']">Sign in</a> - <a [routerLink]="['/sign-up']">Sign up</a></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-box">
            <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%;">
                <ng-container *ngIf="dataStatus == 'fetching'">
                    <div class="img-wrapper">
                        <img src="assets/images/rolling-main.svg" alt="">
                    </div>
                </ng-container>
                <ng-container *ngIf="dataStatus == 'done'">
                    <img [defaultImage]="spinnerSVG" [lazyLoad]="thumbnail">
                    <div style="width: 95%; text-align: center;">
                        <h2 *ngIf="loginContent.title1 !== null">{{loginContent.title1}}</h2>
                    </div>
                    <div style="width: 95%; text-align: center; font-size: 13px;">
                        <div *ngIf="loginContent.content !== null" class="ql-container ql-snow" style="border-width: 0;">
                            <div class="ql-editor" [innerHTML]="transformHtml(loginContent.content)"></div>
                        </div>
                    </div>
                    <div style="width: 95%; text-align: center;" *ngIf="loginContent.link !== null && loginContent.btn_text !== null">
                        <button class="deadlines" (click)="goToUrl()" [ngStyle]="{'background-color':loginContent.btn_color ? loginContent.btn_color : '#fff', 'color':loginContent.btn_text_color ? loginContent.btn_text_color : '#000' }">{{loginContent.btn_text}}</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>