.main-row {
    margin: 10px;
}
// .header-section {
//     position: sticky;
//     top: 65px;
// }
.results-section {
    // height: calc(100vh - 257px);
    // overflow: auto;
    .zone-rate-box {
        border-radius: 4px;
        margin: 0 0 10px 0;
        background-color: #fff;
        border: 1px solid #ddd;
        .zone-rate-heading {
            padding: 1rem;
        }
        .zone-rate-container {
            padding: 1rem;
            .shipping-heading {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                button {
                    color: #2c6ecb;
                    background-color: transparent;
                    padding: 0;
                    &:hover {
                        color: #1f5199;
                        text-decoration: underline;
                    }
                }
            }
            .shipping-container {
                margin-top: 1.2rem;
                .shipping-content {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 30px;
                    .shipping-flag {
                        flex: 0;
                        i {
                            font-size: 20px;
                        }
                    }
                    .shipping-name {
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-weight: 600;
                        }
                        .countries {
                            color: #6d7175;
                            .item {
                                display: flex;
                                flex-wrap: wrap;
                            }
                        }
                    }
                    .shipping-action {
                        flex: 0;
                    }
                }
                .rates {
                    margin: 10px 0 0 0;
                    overflow: inherit;
                    table {
                        th {
                            border-bottom: none !important;
                            padding: 0.7rem 0.7rem !important;
                            font-size: 15px;
                            font-weight: 300;
                            &.condition {
                                width: 25%;
                                text-align: right;
                            }
                            &.price {
                                width: 20%;
                                text-align: right;
                            }
                            &.action {
                                width: 10%;
                                text-align: right;
                            }
                        }
                        td {
                            border-top: 1px solid #dee2e6 !important;
                            padding: 0.7rem 0.7rem !important;
                            font-size: 15px;
                            &.condition {
                                width: 25%;
                                text-align: right;
                            }
                            &.price {
                                width: 20%;
                                text-align: right;
                            }
                            &.action {
                                width: 10%;
                                text-align: right;
                            }
                        }
                        tbody {
                            tr:hover {
                                background: #f6f6f7;
                            }
                        }
                    }
                }
                .error-banner {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 20px;
                    background-color: #fff5ea;
                    box-shadow: inset 0 1px 0 0 #e1b878, inset 0 0 0 1px #e1b878;
                    padding: 12px;
                    border-radius: 5px;
                    &.no-rate {
                        margin-top: 10px;
                    }
                    i {
                        color: #b98900;
                        font-size: 22px;
                    }
                    p {
                        margin: 0 0 0 0;
                        font-size: 13px;
                    }
                }
                .add-rates {
                    display: inline-block;
                    button {
                        background: transparent;
                        color: #000;
                        border: 1px solid #babfc3;
                        margin: 20px 0;
                    }
                }
                .hr-row {
                    border-bottom: 1px solid #dee2e6;
                    margin: 0 -17px 15px;
                    &:last-child {
                        border-bottom: none;
                        margin: 0;
                    }
                }
                .dropdown-container {
                    .dropdown {
                        position: relative;
                        display: inline-block;
                        padding: 0;
                        .drop-text i {
                            color: #888;
                            cursor: pointer;
                            font-size: 16px;
                            padding: 4px 8px;
                            margin: 0 10px 0 0;
                            transform: rotate(90deg);
                        }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            right: 0;
                            background-color: #fff;
                            min-width: 100%;
                            z-index: 1;
                            border: 1px solid #c4c4c4b3;
                            border-radius: 5px;
                            box-shadow: 0px 8px 16px 0px #0003;
                            text-align: center;
                        }
                        &:hover .dropdown-content {
                            display: block;
                            ul {
                                padding: 10px 10px;
                                margin: 0;
                                li {
                                    min-width: 78px;
                                    list-style: none;
                                    padding: 10px 8px;
                                    font-size: 14px;
                                    font-weight: 300;
                                    color: #888;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                                .edit {
                                    color: #000;
                                    &:hover {
                                        background-color: #f6f6f7;
                                    }
                                }
                                .delete {
                                    color: #d82c0d;
                                    &:hover {
                                        background-color: #fff0f0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-section {
        border-top: 1.5px solid #d7d7d7 !important;
        display: flex;
        justify-content: flex-end;
        padding: 15px 0 0 0;
        margin: 15px 0 0 0;
    }
}
.modal-container {
    .modal-header {
        button.close {
            padding: 5px 5px 0px 0px;
            margin: 0;
            color: #484848;
        }
    }
    .modal-body {
        max-height: calc(100vh - 180px);
        overflow: auto;
        input::-webkit-calendar-picker-indicator {
            padding-bottom: 9px;
        }
        .zone-name-field {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #fff;
            // border-bottom: 1px solid #dee2e6;
        }
        .country {
            // border-top: 1px solid #dee2e6;
            border-bottom-right-radius: calc(0.3rem - 1px);
            border-bottom-left-radius: calc(0.3rem - 1px);
            .search-country {
                padding: 15px;
                position: sticky;
                top: 86px;
                background-color: #fff;
                border-top: 1px solid #dee2e6;
                border-bottom: 1px solid #dee2e6;
                z-index: 1;
                .input-group {
                    margin: 0;
                    .search-input {
                        background: url("/assets/img/search1.png") no-repeat
                            scroll 7px 7px;
                        background-size: 16px;
                        padding-left: 30px;
                    }
                }
            }
            ul.country-list {
                padding: 0;
                margin: 0;
                .selector-all {
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    label.checkbox {
                        padding: 0 35px 0 0;
                        height: 20px;
                        .checkmark {
                            height: 20px;
                            width: 20px;
                            &:after {
                                left: 6px;
                                top: 1px;
                                width: 7px;
                                height: 12px;
                            }
                        }
                    }
                }
                li.country-data {
                    border-top: 1px solid #dee2e6;
                    border-bottom-right-radius: calc(0.3rem - 1px);
                    border-bottom-left-radius: calc(0.3rem - 1px);
                    list-style: none;
                    .zone {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 15px;
                        border-bottom: 1px solid #dee2e6;
                        border-bottom-right-radius: calc(0.3rem - 1px);
                        border-bottom-left-radius: calc(0.3rem - 1px);
                        .content-side {
                            display: flex;
                            align-items: center;
                        }
                        &:hover {
                            background-color: #dfe3e8;
                        }
                    }
                    .country {
                        ul {
                            padding: 0;
                            li {
                                border-top: 1px solid #dee2e6;
                                border-bottom-right-radius: calc(0.3rem - 1px);
                                border-bottom-left-radius: calc(0.3rem - 1px);
                                list-style: none;
                                padding: 10px 15px 10px 50px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .content-side {
                                    display: flex;
                                    align-items: center;
                                    .country-name {
                                        margin: 0 0 0 15px;
                                    }
                                }
                                &:first-child {
                                    border-top: none;
                                }
                                &:hover {
                                    background-color: #dfe3e8;
                                }
                            }
                        }
                    }
                    label.checkbox {
                        padding: 0 35px 0 0;
                        height: 20px;
                        .checkmark {
                            height: 20px;
                            width: 20px;
                            &:after {
                                left: 6px;
                                top: 1px;
                                width: 7px;
                                height: 12px;
                            }
                        }
                    }
                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
}
.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        width: 90px;
    }
}
.placeholder {
    position: relative;
    &::after {
        position: absolute;
        right: 10px;
        top: 5px;
        content: attr(data-placeholder);
        pointer-events: none;
        opacity: 0.6;
    }
    input {
        padding-right: 35px;
    }
    &.pound {
        &::before {
            position: absolute;
            left: 10px;
            top: 6px;
            content: attr(data-placeholder);
            pointer-events: none;
            opacity: 0.6;
        }
        &::after {
            position: absolute;
            right: 10px;
            top: 6px;
            content: attr(data-placeholder-free);
            pointer-events: none;
            opacity: 0.8;
            color: #202223;
            background-color: #e4e5e7;
            padding: 2px 6px;
            border-radius: 15px;
            line-height: 1rem;
            font-size: 12px;
        }
        input {
            padding: 0 5px 0 28px;
        }
        &.color::after {
            background-color: #e4e5e7;
        }
        &.no-color::after {
            background-color: transparent;
        }
    }
}
