<div class="row no-gutters main-background">
    <div class="col-md-12 mb-1 header-section p-4">
        <div class="row no-gutters d-flex justify-content-between align-items-center">
            <div class="col-md-12 mb-2">
                <h1>Settings: Notifications</h1>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-12 mb-1">
                <div class="product-variants">
                    <table class="table table-striped">
                        <thead>
                            <tr style="border-bottom: solid 2px #CCC !important;">
                                <th class="font-15" style="padding-left: 0px; width: 400px;">Billing & Orders</th>
                                <th  style="width: 300px;"></th>
                                <th class="font-12">Email</th>
                                <th class="font-12">Dashboard</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Order payment errors</td>
                                <td class="font-14">Email mandatory</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked disabled>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Order payment approved</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Order confirmation</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Order processed and dispatched</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Daily Order Digest</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width">
                                </td>
                                <td class="font-14">
                                    
                                </td>
                            </tr>

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Weekly Order Digest</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width">
                                </td>
                                <td class="font-14">
                                    
                                </td>
                            </tr>

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Yealy Order Digest</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    
                                </td>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Print file issues (content and copyright issues)</td>
                                <td class="font-14">Email mandatory</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked disabled>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="product-variants">
                    <table class="table table-striped">
                        <thead>
                            <tr style="border-bottom: solid 2px #CCC !important;">
                                <th class="font-15" style="padding-left: 0px; width: 400px;">Products</th>
                                <th  style="width: 300px;"></th>
                                <th class="font-12">Email</th>
                                <th class="font-12">Dashboard</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Product sync issues</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Discontinuation alerts</td>
                                <td class="font-14">Email mandatory</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked disabled>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>
                            

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">New product alerts</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                            </tr>

                        </thead>
                    </table>
                </div>

                <div class="product-variants">
                    <table class="table table-striped">
                        <thead>
                            <tr style="border-bottom: solid 2px #CCC !important;">
                                <th class="font-15" style="padding-left: 0px; width: 400px;">Newsletters & Guides</th>
                                <th  style="width: 300px;"></th>
                                <th class="font-12">Email</th>
                                <th class="font-12">Dashboard</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Print-on-Demand and fulfilment newsletter</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width">
                                </td>
                            </tr>
                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Getting started guide to Print-on-Demand</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width">
                                </td>
                            </tr>

                            <tr style="border-bottom: solid 1px #CCC;">
                                <td class="font-14">Product recommendations</td>
                                <td class="font-14">Optional</td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width" checked>
                                </td>
                                <td class="font-14">
                                    <input type="checkbox" class="checkbox-width">
                                </td>
                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>