section.navbar {
    /* background: linear-gradient(to bottom, #027b6a 0%, #04a28c 52%, #04a28c 45%, #008c78 100%); */
    border-bottom: solid 1px #ccc;
    position: sticky;
    top: 50px;
    background-color: #fafafa;
    z-index: 1;
}
.navbar-heading {
    display: flex;
    justify-content: center;
}
.navbar-heading h3 {
    font-size: 18px;
}
.navbar-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 8px 0;
    margin: 0;
}
.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    width: auto;
    margin-left: 20px;
}
.navbar-items {
    /* background-color: aquamarine; */
    position: relative;
}
.navbar-items a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-items a p {
    text-align: center;
    margin: 0 0 0 5px;
    color: #a6acaa;
}
.navbar-items a .step-circle {
    border: 2px solid #e5e5e5;
    color: #a6acaa;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
}
.navbar-items a .step-circle.active {
    background-color: #000;
    color: #fff;
}
.navbar-items a p.active {
    font-weight: 400;
    color: #000;
    margin: 0px 0 0 5px;
    line-height: normal;
}

i.fas.fa-circle {
    color: white;
    padding: 0;
    z-index: 1;
    margin-left: -6%;
}
i.fas.fa-circle.active {
    color: #fff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: -7px 0 0px 0;
    padding: 3px;
}
i.fas.fa-circle.activated {
    color: #307477;
}
hr {
    margin: 0px !important;
    border: 1px solid #000 !important;
    width: 99%;
    position: absolute;
    top: 5px;
    right: 57%;
    display: none;
}
/* hr.activated {
    display: block;
} */
hr.line-activated {
    display: block;
}
@media only screen and (max-width: 1024px) {
    .navbar-links {
        /* min-width: 240px; */
        justify-content: flex-start;
        overflow: auto;
        padding: 10px 0 0 0;
    }
}
/* @media only screen and (max-width: 768px) {
    .navbar-links {
        min-width: 240px;
        justify-content: flex-start;
        overflow: auto;
        padding: 10px 0 0 0;
    }
} */
@media only screen and (max-width: 425px) {
    .navbar-links {
        min-width: 350px;
    }
    .navbar-links a {
        width: 100px;
    }
}
@media only screen and (max-width: 375px) {
    .navbar-links {
        min-width: 300px;
    }
}
@media only screen and (max-width: 320px) {
    .navbar-links {
        min-width: 240px;
    }
}
