.header-section {
    position: sticky;
    top: 65px;
}
.results-section {
    height: calc(100vh - 257px);
    overflow: auto;
}
.items-table {
    width: 85%;
    margin-left: 75px;
}
.show{
display: block;
}
.hide{
display: none;
}
td.idc-desc {
    border-bottom: 1px dotted;
}
.main-row {
    margin: 0 15px;
}
h6.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}
select.sort-select {
    color: #484848;
}

.create-content {
    display: flex;
    align-items: baseline;
}
input[type="checkbox"].create-another {
    height: auto !important;
    width: 13px !important;
    position: relative !important;
    left: 0 !important;
    cursor: pointer;
    display: block;
}
.create-text p {
    margin: 0;
}
.create-text {
    margin: 0 0 0 8px;
}
label {
    font-size: 0.9rem;
    margin: 0;
}
.page-item.active .page-link {
    background-color: var(--ap-primary) !important;
    border-color: var(--ap-primary) !important;
}
.page-link {
    color: var(--ap-primary);
    box-shadow: none;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
input.form-control {
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
    border-radius: 7px;
}
.has-search .form-control-feedback1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--ap-primary);
    border-radius: 0 7px 7px 0;
    padding: 0 22px;
    z-index: 2;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #fff;
    margin: 1px 0 0 0;
}
.add-btn {
    background-color: transparent;
    border: 1px solid var(--ap-primary) !important;
    color: var(--ap-primary);
    border-radius: 7px;
}
button.sm.main-color {
    border: 1px solid var(--ap-primary);
}
.user-panel .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}
i.fas.fa-dot-circle {
    color: var(--ap-primary);
    font-size: 12px;
}
i.fas.fa-dot-circle.gray {
    color: #9a9a9a;
}
i.fas.fa-dot-circle.green {
    color: var(--ap-secondary);
}
/* UP DOWN ARROW */
.arrows {
    padding: 0 0 0 5px;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2.5px;
}
.asc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 0 -6px 5px 0;
    cursor: pointer;
}
.desc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}
.active {
    color: var(--ap-primary);
    border-width: 0 2px 2px 0;
}
/* CARD TABLE */
.card {
    background-color: transparent !important;
}
.table.table-striped {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px !important;
}
.table {
    margin: 0 !important;
}
.table thead th {
    border-bottom: 2px solid #dee2e6;
    color: var(--ap-secondary);
    font-weight: 600;
    font-size: 14px;
    padding: 10px 0.75rem 0;
}
.table tbody td {
    font-size: 14px;
}
.product-box {
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}
button.close {
    padding: 5px 5px 0px 0px;
    margin: 0;
    color: #484848;
}

/* INVOICE STYLE START */
h1.comp-name {
    color: #1f4e78;
    font-size: 22px;
    margin: 0 0 15px 0;
}
.logo-image {
    width: 120px;
    padding: 10px 20px 15px 0;
}
.company-container p {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 14px;
}
.company-container {
    margin: 0 0 19px 0;
}
.bill-to-container {
    margin: 0 0 25px 0;
}
h1.bill-to {
    background-color: #2f75b5;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 0 4px 15px;
    margin: 0 0 8px 0;
}
.bill-to-container p {
    margin: 0 0 6px 0;
}
.invoice-heading h1 {
    color: #2f75b5;
    font-size: 30px;
    text-align: right;
    margin: 0 0 20px 0;
}
table.inv-date-content {
    width: 100%;
    margin: 0 0 30px 0;
}
table.cust-term-content {
    width: 100%;
}
.inv-date-content thead,
.cust-term-content thead {
    background: #2f75b5;
    color: #fff;
    text-align: center;
}
.inv-date-content thead tr th {
    border-bottom: none !important;
}
.cust-term-content thead tr th {
    border-bottom: none !important;
}
.inv-date-content tbody tr td {
    font-weight: 400;
}
.cust-term-content tbody tr td {
    font-weight: 400;
}
.inv-date-content tbody,
.cust-term-content tbody {
    text-align: center;
}
.inv-data-container {
    overflow: auto;
    margin: 0 0 30px 0;
}
table.inv-data-content {
    width: 100%;
}
.inv-data-content thead tr th {
    border-bottom: none !important;
    background-color: #2f75b5;
    color: #fff;
}
th.inv-data-desc {
    padding: 0 0 0 15px;
}
td.idc-qty {
    border: 1px dotted;
    text-align: center;
}
td.idc-unit-price {
    border: 1px dotted;
    text-align: end;
}
td.idc-amount {
    border-bottom: 1px dotted;
    text-align: end;
}
td.idc-desc {
    border-bottom: 1px dotted;
}
.idc-desc h3 span.order-no {
    text-transform: none;
    font-size: 12px;
    color: #bfc1c2;
    font-weight: 400;
}
.inv-data-content :is(th.idc-qty, th.idc-unit-price, th.idc-amount) {
    text-align: center;
}
td.idc-qty {
    text-align: center;
}
td.idc-unit-price {
    text-align: end;
}
td.idc-thanks {
    color: #2f75b5;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
td.idc-total-amount {
    text-align: end;
}
td.sub-total {
    background-color: #bdd7ee;
    font-weight: 400;
}
td.idc-total-amount {
    background-color: #dae8f4;
    font-weight: 400;
}
td.g-sub-total {
    background-color: #bdd7ee;
    font-weight: 600;
}
td.g-idc-total-amount {
    background-color: #dae8f4;
    font-weight: 600;
    text-align-last: justify;
}
.upper-line {
    border-top: 2px solid #1f4e78;
}
.invoice-footer-container p {
    margin: 0;
    text-align: center;
    font-size: 13px;
}
p.if-para1 {
    font-weight: 600;
}
/* INVOICE STYLE END */

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrapper img {
    width: 90px;
}
.no-data {
    padding: 10px 14px;
    border-radius: 4px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.doc-heading{
    color: red;
}
.border-style{
    border: 1px solid black;
}
.line{
    border-right: 1px solid black;
}
@media only screen and (max-width: 425px) {
    .main-row {
        margin: 10px;
    }
    .product-box {
        padding: 10px;
    }
}
